body {
  text-align: center;
  font-family: Arial;
  background-image: linear-gradient(
    to bottom,
    rgb(156, 231, 112),
    rgb(10, 10, 3)
  );

  align-items: center;
  height: 100vh;
}
header {
  margin-top: 10px;
}
#root {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: url(./moviebg4.jpg);
  background-size: 100%;
  margin: 50px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: -10px -10px 40px rgba(0, 0, 0, 0.9);
}
#root:hover {
  box-shadow: 5px 5px 15px rgba(202, 235, 19, 0.6);
}
@media (max-width: 500px) {
  #root {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: -10px -10px 40px rgba(0, 0, 0, 0.9);
    transition: 0.5s ease;
  }
}
